body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background: url("/media/photo-1520587210458-bd3bee813b97.jpeg") no-repeat center center/cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.right-side {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #333; /* Adjust text color as needed */
}

h2 {
    color: #d40000;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   
}

.option {
    background: #333;
    color: white;
    padding: 15px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.option:hover {
    background: #d40000;
}

.login-form {
    display: none;
    margin-top: 10px;
}

.login-form input {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #d40000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #a30000;
}
