<!-- forgot_password.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/login_selection.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h4 style="position: relative; left: -7cm;">FixMyRide</h4> 
        </div>
        <div class="right-side">
            <h1>Forgot Password</h1>
            <form method="post" action="{% url 'forgot_password' %}">
                {% csrf_token %}
                <label for="email">Email/Phone:</label>
                <input type="text" id="email" name="email" placeholder="Enter your email or phone number" required>
                
                <label for="role">Select Role:</label>
                <select id="role" name="role" required>
                    <option value="garage_owner">Garage Owner</option>
                    <option value="normal_user">Normal User</option>
                    <option value="worker">Worker</option>
                </select>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>